In [5]:
#Dictionaries

Student = {
  "student1":{"Name": "Ali","Marks": 90 },
  "student2":{"Name": "Amirah","Marks": 56},
  "student3":{"Name": "Aliyah","Marks": 78},
  "student4":{"Name": "Zikri","Marks": 87},
  "student5":{"Name": "Mia","Marks": 45},
}

print(Student)

{'student1': {'Name': 'Ali', 'Marks': 90}, 'student2': {'Name': 'Amirah', 'Marks': 56}, 'student3': {'Name': 'Aliyah', 'Marks': 78}, 'student4': {'Name': 'Zikri', 'Marks': 87}, 'student5': {'Name': 'Mia', 'Marks': 45}}

In [8]:
stud = {
     'athirah' : 95,
     'ali' : 80,
     'Zain' : 70,
}
print(stud)

#access element
stud['athirah']

{'athirah': 95, 'ali': 80, 'Zain': 70}

95

In [49]:
students_grade = {
    "name":["Idrees","Mell","Ibrahim","Hazirah","Amin",'Nazri'],
    "Math":[90,90,90,92,94,95],
    "English":[90,90,90,92,94,95],
    "Science":[90,90,90,92,94,95]
}

print(students_grade)

{'name': ['Idrees', 'Mell', 'Ibrahim', 'Hazirah', 'Amin', 'Nazri'], 'Math': [90, 90, 90, 92, 94, 95], 'English': [90, 90, 90, 92, 94, 95], 'Science': [90, 90, 90, 92, 94, 95]}

In [34]:

students_grade["name"][2]='Athirah'

In [31]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp314-cp314-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\windows10\appdata\local\python\pythoncore-3.14-64\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\windows10\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\windows10\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp314-cp314-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.1 MB 3.3 MB/s eta 0:00:04
   ---- ----------------------------------- 1.3/11.1 MB 3.1 MB/s eta 0:00:04
   ------ --------------------------------- 1.8/11.1 MB 3.0 MB/s eta 0:00:04
   --------- ------------------------------ 2.6/11.1 MB 3.1 MB/s eta 0:00:03
   ------------ --------------------------- 3.4/11.1 MB 3.3 MB/s eta 0:00:03
   ---------------- ----------------------- 4.7/11.1 MB 3.6 MB/s eta 0:00:02
   ------------------- -------------------- 5.5/11.1 MB 3.7 MB/s eta 0:00:02
   ---------------------- ----------------- 6.3/11.1 MB 3.7 MB/s eta 0:00:02
   --------------------------- ------------ 7.6/11.1 MB 3.9 MB/s eta 0:00:01
   ------------------------------ --------- 8.4/11.1 MB 3.9 MB/s eta 0:00:01
   -------------------------------- ------- 8.9/11.1 MB 3.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.4/11.1 MB 3.7 MB/s eta 0:00:01
   --------------------------------- ------ 9.4/11.1 MB 3.7 MB/s eta 0:00:01
   ---------------------------------- ----- 9.7/11.1 MB 3.3 MB/s eta 0:00:01
   ----------------------------------- ---- 10.0/11.1 MB 3.1 MB/s eta 0:00:01
   ------------------------------------ --- 10.2/11.1 MB 3.1 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.1 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 2.8 MB/s  0:00:03
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas

   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   ---------------------------------------- 3/3 [pandas]

Successfully installed pandas-2.3.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [50]:
pd.DataFrame(students_grade)

      name  Math  English  Science
0   Idrees    90       90       90
1     Mell    90       90       90
2  Ibrahim    90       90       90
3  Hazirah    92       92       92
4     Amin    94       94       94
5    Nazri    95       95       95

In [51]:
df = pd.DataFrame(students_grade)

df
print("\n First Table \n",df,"\n")
print("\n Second Table \n",df,"\n")
print("\n Third Table \n",df,"\n")

 First Table
       name  Math  English  Science
0   Idrees    90       90       90
1     Mell    90       90       90
2  Ibrahim    90       90       90
3  Hazirah    92       92       92
4     Amin    94       94       94
5    Nazri    95       95       95


 Second Table
       name  Math  English  Science
0   Idrees    90       90       90
1     Mell    90       90       90
2  Ibrahim    90       90       90
3  Hazirah    92       92       92
4     Amin    94       94       94
5    Nazri    95       95       95


 Third Table
       name  Math  English  Science
0   Idrees    90       90       90
1     Mell    90       90       90
2  Ibrahim    90       90       90
3  Hazirah    92       92       92
4     Amin    94       94       94
5    Nazri    95       95       95

In [43]:
type(df)

#numpy.ndarray

pandas.core.frame.DataFrame

In [53]:
df.head() #top part of a df # 5 is the default program

      name  Math  English  Science
0   Idrees    90       90       90
1     Mell    90       90       90
2  Ibrahim    90       90       90
3  Hazirah    92       92       92
4     Amin    94       94       94

In [54]:
df.tail(2)

    name  Math  English  Science
4   Amin    94       94       94
5  Nazri    95       95       95

In [56]:
#access certain column in dataframe too

df['Math']

0    90
1    90
2    90
3    92
4    94
5    95
Name: Math, dtype: int64

In [ ]:
#print column and cell
df['Math'][3]

np.int64(92)

In [59]:
print('\n Name column \n',df['name'])
print('\n Math column \n',df['Math'])

 Name column
 0     Idrees
1       Mell
2    Ibrahim
3    Hazirah
4       Amin
5      Nazri
Name: name, dtype: object

 Math column
 0    90
1    90
2    90
3    92
4    94
5    95
Name: Math, dtype: int64

In [39]:
import numpy as np

array = np.array([])
type(array)

numpy.ndarray

In [65]:
#series

marks_series = pd.Series([1,2,3])
#type(marks_series)

print(marks_series)

0    1
1    2
2    3
dtype: int64

In [ ]:
df

      name  Math  English  Science
0   Idrees    90       90       90
1     Mell    90       90       90
2  Ibrahim    90       90       90
3  Hazirah    92       92       92
4     Amin    94       94       94
5    Nazri    95       95       95

In [ ]:

df['English'][4]

np.int64(94)

In [ ]:
english.amin = df['english'][4]
print(f'In English {name} had {} marks')

#type('english')

In [85]:
hz = df['name'][3]
hz_english = df['English'][2]

print (f'In English Hazirah {hz} had {hz_english} marks')

In English Hazirah Hazirah had 90 marks

In [ ]:


weather = {
    "city":["Kuala Lumpur","Jakarta","Bangkok","New Delhi","Tokyo"],
    "temperature":["32","33","35","34","27"]
}

In [4]:
pd.DataFrame(weather)

           city temperature
0  Kuala Lumpur          32
1       Jakarta          33
2       Bangkok          35
3     New Delhi          34
4         Tokyo          27

In [ ]:
type ()

In [12]:
#series

weather_series = pd.Series([])
type(weather_series)

#print(weather_series)

pandas.core.series.Series

In [ ]:

temp11 = pd.Series([32,31,50,34,-2]) #series object - single column,1D column
print('Type of temp11 : ',type[temp11])

#dictionary
#python data object
temperature = {
    'cities' : ['KL','HK','SG','NY','HLS'],
    'temp10' : [23,29,40,0,5]
}

#creating datafram
#data frame  from panda
temp_df = pd.DataFrame(temperature)
print('\n Type of temp_df',type(temp_df))

print(temp_df)
print(temp11)

Type of temp11 :  type[0    32
1    31
2    50
3    34
4    -2
dtype: int64]

 Type of temp_df <class 'pandas.core.frame.DataFrame'>
  cities  temp10
0     KL      23
1     HK      29
2     SG      40
3     NY       0
4    HLS       5
0    32
1    31
2    50
3    34
4    -2
dtype: int64

In [23]:
temp_df['temp11']=temp11 #or pd.Series([]) #create new column

#series and dict almost same

In [24]:
temp_df #data

  cities  temp10  temp11
0     KL      23      32
1     HK      29      31
2     SG      40      50
3     NY       0      34
4    HLS       5      -2

In [25]:
df2= temp_df
df2['temp11']
df['temp11']=pd.Series([])

In [40]:
#dataframe creates a column does not exist

temp_df['newtemp']=pd.Series([]) #list is empty but can also be fill with square bracket
temp_df

  cities  temp10  temp11 newtemp
0     KL      23      32     NaN
1     HK      29      31     NaN
2     SG      40      50     NaN
3     NY       0      34     NaN
4    HLS       5      -2     NaN

In [ ]:
#already data set

#save this as csv file?

temp_df.to_csv(city rating.csv)

In [ ]:
temp_df.to_csv(cityRatingwithoutIndex.csv,index=false)

In [ ]:
temp11 = pd.Series([32,31,50,34,-2]) #series object - single column,1D column
print('Type of temp11 : ',type[temp11])

#dictionary
#python data object
temperature = {
    'cities' : ['KL','KL''HK','SG','NY','HLS'],
    'temp10' : [23,24,29,40,0,5]
}

#creating datafram
#data frame  from panda
temp_df = pd.DataFrame(temperature)
print('\n Type of temp_df',type(temp_df))

print(temp_df)
print(temp11)

In [ ]:
df['cities'].value_counts() #count unique value

In [ ]:
df['cities'].unique()

In [ ]:
df['cities'].duplicate()

In [50]:
data ={
    'city':['KL','SG','KL','NY','HLS'],
    'temp':[34,21,32,23,21]
}

df_new = pd.DataFrame(data)

print (df_new)

  city  temp
0   KL    34
1   SG    21
2   KL    32
3   NY    23
4  HLS    21

In [53]:
df_new['city'].value_counts() #count unique value
df_new['city'].unique()
df_new['city'].duplicated()

0    False
1    False
2     True
3    False
4    False
Name: city, dtype: bool

In [ ]:
#remove duplicate from dataframe
df_new['city'].drop_duplicates()

0     KL
1     SG
3     NY
4    HLS
Name: city, dtype: object