- Data Storytelling

- Story telling - make a story

Run any language, we needed an IDE

https://sqliteonline.com/

In SQL every row is called a record

Create a databse
Create table
Query databse and tables
Create viewa, view a part of the database

1. Query a database
    - can manipulate data within a database
    - create or retrieve data from a database

2. CRUS operation on Records
    - Create
    - Read
    - Update
    - Delete

In [ ]:
SELECT * FROM Departments

- SELECT - extract data from a databse
- INSER INTO
- CREATE DATABSE

- RUn SQL in a python based version, called SQLite

In [ ]:
CREATE TABLE Department(
	id     INT PRIMARY KEY, #create tbale ->create a new table - specify name
  	name   VARCHAR(50) #created 
)

In [1]:
pip install sqlite3

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for sqlite3

In [4]:
import sqlite3 as sql

In [5]:
#connet to a databast
#there is no database, when we create a connection, automatically create it

connection = sql.connect('test.db')

In [7]:

#we need a cursor to point to records in the database - move through the db

cursor = connection.cursor()

In [8]:
cursor.execute('''
CREATE TABLE students(
    id INT PRIMARY KEY,
    name VARCHAR(10),
    city VARCHAR(10),
    hobby VARCHAR(10)
    )
''')

In [9]:
#commit the changes and close the connection
connection.commit()

In [12]:
cursor.execute("INSERT INTO students (id,name,city,hobby) VALUES (1,'Ahirah','Petaling Jaya','Hiking')")
cursor.execute("INSERT INTO students (id,name,city,hobby) VALUES (2,'Ahirah','Petaling Jaya','Hiking')")
cursor.execute("INSERT INTO students (id,name,city,hobby) VALUES (3,'Ahirah','Petaling Jaya','Hiking')")
cursor.execute("INSERT INTO students (id,name,city,hobby) VALUES (4,'Ahirah','Petaling Jaya','Hiking')")

In [13]:
cursor.execute("SELECT * FROM students")

In [14]:
#Fetch all result
results = cursor.fetchall()
results

[(1, 'Ahirah', 'Petaling Jaya', 'Hiking'),
 (2, 'Ahirah', 'Petaling Jaya', 'Hiking'),
 (3, 'Ahirah', 'Petaling Jaya', 'Hiking'),
 (4, 'Ahirah', 'Petaling Jaya', 'Hiking')]