**Phyton Introduction**

In [1]:
print('Welcome to Phyton')

Welcome to Phyton

In [2]:
print ('First example in Phyton')

First example in Phyton

In [3]:
print(10+5)

15

In [6]:
#input example
username=input('Enter username : ')
print ('Welcome Mr / Ms  : '+ username)

Enter username :athirah
Welcome Mr / Ms  :athirah

In [7]:
num1=12
num2=13
result=num1+num2
print(result)

25

In [9]:
# f means for format string literal, if run without f it cannot read the variable
print (f'First Number{num1} and Second Number {num2} Result : {result}')

First Number12 and Second Number 13 Result : 25

In [11]:
# int for interger to execute whole number
#\t is tab
fnum=int(input('Enter First Number : '))
snum=int(input('Enter Second Number : '))
result = fnum + snum
print (f'Result after adding {fnum} and {snum} is = \t {result}')

Enter First Number : 3
Enter Second Number : 5
Result after adding 3 and 5 is = 8

In [15]:
firstname = 'Sam'
lastname = 'Smith'
fullname = firstname + ' '+ lastname
print(fullname)

Sam Smith

In [16]:
#type is to know data type
type (firstname)

str

In [17]:
#{} is for take the value
num=12
type (num)
print(f'Type of fnum {type(fnum)} and snum {type(snum)}')

Type of fnum <class 'int'> and snum <class 'int'>

In [19]:
#float is for decimal number
fnum=float(input('Enter First Number : '))
snum=float(input('Enter Second Number : '))
result = fnum + snum
print (f'Result after adding {fnum} and {snum} is = \t {result}')

Enter First Number : 9.98
Enter Second Number : 98.76543
Result after adding 9.98 and 98.76543 is = 	 108.74543

In [22]:
#Boolean or bool
is_active=True
type(is_active)

bool

In [23]:
is_active = False
type (is_active)

bool

In [25]:
print ('Is active User?',is_active)

Is active User? False

In [26]:
print(f'Is active User? {is_active}')

Is active User? False

In [ ]:
#Binary Value
byte_ex=b'Hello'
type (byte_ex)

byte_Array=bytearray(b'Hello')
type(byte_Array)

In [30]:
#complex type
complex_num=2+3j
print(complex_num)
type(complex_num)

(2+3j)

complex

In [32]:
#Sequence Type
#list[] - collection of data

list_ex = [10,20,30,40,50]
print(list_ex)
type(list_ex)

[10, 20, 30, 40, 50]

list

In [33]:
cars=['Toyota', 'Hyundai','BMW', 'Tesla', 'Audi']
print(cars)
type(cars)

['Toyota', 'Hyundai', 'BMW', 'Tesla', 'Audi']

list

In [34]:
# Tuple - used to store multiple items in a single variable
tuple_ex = (10,20,30,40,50)
print(tuple_ex)
type(tuple_ex)

(10, 20, 30, 40, 50)

tuple

In [39]:
#set
set_ex={10,20,30,40,50}
print(set_ex)
type(set_ex)

{50, 20, 40, 10, 30}

set

In [36]:
#range
range_ex=range(10)
print(range_ex)
type(range_ex)

range(0, 10)

range

In [37]:
range_ex2=range(5)
print(range_ex2)
type(range_ex2)

range(0, 5)

range

In [40]:
#Dictionary
emp={
    "id": 1,
    "name":"Sam",
    "salary":20000.76
}
print(emp)
type(emp)

{'id': 1, 'name': 'Sam', 'salary': 20000.76}

dict