In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.tree import DecisionTreeClassifier, plot_tree

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

tips = sns.load_dataset('tips')
tips.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [3]:
#simple, manual label encoding using map method
tips['smoker_bin']=tips['smoker'].map({
    'Yes':1,
    'No':0
})

tips['sex_bin']=tips['sex'].map({
    'Male':1,
    'Female':0
})

tips.head(2)

,total_bill,tip,sex,smoker,day,time,size,somer_bin,sex_bin,smoker_bin
0,16.99,1.01,Female,No,Sun,Dinner,2,0,0,0
1,10.34,1.66,Male,No,Sun,Dinner,3,0,1,0

In [6]:
plt.figure(figsize=(12,8))

plot_tree(
    model_dt, 
    feature_names=tips['total_bill'], #input features
    class_names=['sex'], #target name
    max_depth=5,
    filled = True,
    rounded= True
)

NameError: name 'model_dt' is not defined