In [4]:
import pandas as pd

In [6]:
df = pd.read_csv("iris.csv")

In [7]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
df['petal_width'] #direct access to column - column label

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal_width, Length: 150, dtype: float64

In [8]:
#this is how you target a row
df.loc[4]

sepal_length       5.0
sepal_width        3.6
petal_length       1.4
petal_width        0.2
species         setosa
Name: 4, dtype: object

In [ ]:
df['species'][149]v#column then exact row #value

'virginica'

In [ ]:
df['species'][8] #goes first to column, row

'setosa'

In [14]:
df.loc[0:4][['petal_length','species']] #row indexex (mostly interger) x column (strings)

   petal_length species
0           1.4  setosa
1           1.4  setosa
2           1.3  setosa
3           1.5  setosa
4           1.4  setosa

In [17]:
#slicing

df.loc[0:10]

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa

In [ ]:
#df [][] # column x row
df.iloc[0:2][0:2] # column x row

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [23]:
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [ ]:
#remove header - header become row
iris=pd.read_csv('iris.csv',header = None)
iris.head(2)

              0            1             2            3        4
0  sepal_length  sepal_width  petal_length  petal_width  species
1           5.1          3.5           1.4          0.2   setosa

In [ ]:
#skiprow - skip the first row to become headerder
iris=pd.read_csv('iris.csv',header = None,skiprows=1)
iris.head(2)

     0    1    2    3       4
0  5.1  3.5  1.4  0.2  setosa
1  4.9  3.0  1.4  0.2  setosa

In [ ]:
#names - rename column
iris=pd.read_csv('iris.csv',header = None,skiprows=1, names=['a','b','c','d','e'])
iris.head(2)

     a    b    c    d       e
0  5.1  3.5  1.4  0.2  setosa
1  4.9  3.0  1.4  0.2  setosa

In [31]:
column  =['p_len','p_wid','s_len','s_wid','species']

iris=pd.read_csv('iris.csv',header = None,skiprows=1, names=column)
iris.head(2)

   p_len  p_wid  s_len  s_wid species
0    5.1    3.5    1.4    0.2  setosa
1    4.9    3.0    1.4    0.2  setosa

In [ ]:
x = [[1,2,3,4],
     [5,6,7,8]]

x[0][2] #row column

3

In [ ]:
x