### One hot encoding

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

In [11]:
iris = sns.load_dataset('iris')
iris.sample(10)

     sepal_length  sepal_width  petal_length  petal_width     species
61            5.9          3.0           4.2          1.5  versicolor
11            4.8          3.4           1.6          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
58            6.6          2.9           4.6          1.3  versicolor
23            5.1          3.3           1.7          0.5      setosa
118           7.7          2.6           6.9          2.3   virginica
93            5.0          2.3           3.3          1.0  versicolor
133           6.3          2.8           5.1          1.5   virginica
39            5.1          3.4           1.5          0.2      setosa
26            5.0          3.4           1.6          0.4      setosa

In [ ]:
# get dummies method - categories --> Columns
# automatically detects the catagorical columns as well 
df_onehot = pd.get_dummies(iris, columns=['species'])

df_onehot['species_setosa'].dtype

df_onehot.sample(10)

,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
46,5.1,3.8,1.6,0.2,True,False,False
112,6.8,3.0,5.5,2.1,False,False,True
142,5.8,2.7,5.1,1.9,False,False,True
92,5.8,2.6,4.0,1.2,False,True,False
130,7.4,2.8,6.1,1.9,False,False,True
2,4.7,3.2,1.3,0.2,True,False,False
16,5.4,3.9,1.3,0.4,True,False,False
77,6.7,3.0,5.0,1.7,False,True,False
126,6.2,2.8,4.8,1.8,False,False,True
66,5.6,3.0,4.5,1.5,False,True,False

Get Dummies, it automatically ignores any missing values

df

In [ ]:
df = pd.DataFrame([ 1,2,np.nan,1,1,1,3,3,3,2,2,2,3,3,3,1,1,1,1], columns= ["first"])
df.head()

df['first'].dtype

df['first'] = df['first'].astype('category')
df['first'].dtype

df_encoded = pd.get_dummies(df, columns=['first'], dummy_na=False)
df_encoded.head()
# df_encoded.info()

   first_1.0  first_2.0  first_3.0
0       True      False      False
1      False       True      False
2      False      False      False
3       True      False      False
4       True      False      False

#### can also use sklearn.preprocessing method

- `OneHotEncoder`
- the other method to to label encoding?????? --> `LabelEncoder`

In [71]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

# Creating the encoder
encoder = OneHotEncoder( sparse_output=False, handle_unknown='ignore')

# Ignore the missing values if handle_unknown = 'ignore'"in class label encoding .ipynb"

In [ ]:
iris_onehot = iris.copy()

encoder = OneHotEncoder( sparse_output = False, handle_unknown='ignore')

catagorical_cols = ['species']

ecoded_values = encoder.fit_transform(iris_onehot[catagorical_cols]) # species

# names of new columns, that don't exist yet
new_columns = encoder.get_feature_names_out(catagorical_cols)
new_columns
# ['species_setosa', 'species_versicolor', 'species_virginica']

# iris_onehot

# adding the columns to the dataframe

iris_onehot[new_columns] = ecoded_values

iris_onehot.drop(columns=['species'], inplace = True)

iris_onehot

,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,1.0,0.0,0.0
1,4.9,3.0,1.4,0.2,1.0,0.0,0.0
2,4.7,3.2,1.3,0.2,1.0,0.0,0.0
3,4.6,3.1,1.5,0.2,1.0,0.0,0.0
4,5.0,3.6,1.4,0.2,1.0,0.0,0.0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0.0,0.0,1.0
146,6.3,2.5,5.0,1.9,0.0,0.0,1.0
147,6.5,3.0,5.2,2.0,0.0,0.0,1.0
148,6.2,3.4,5.4,2.3,0.0,0.0,1.0
149,5.9,3.0,5.1,1.8,0.0,0.0,1.0

pl , pw, sl, sw, species, setosa, virginica, versicolor

Species --> object

drop this column, before fitting into the model