- house price

- tips dataset

- take the numeric columns only - input features
- Linear regression on them
- target feature - tips
-

In [15]:
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error

tips = sns.load_dataset('tips')
tips.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [18]:
X = tips[['total_bill']]
y = tips['tip']

model = LinearRegression()
# model_Logistic = LogisticRegression()

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state= 42, test_size=0.2)

model.fit(X_train,y_train)

y_pred = model.predict(X_test)

r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

print(f"r2 = {r2} \nmae =  {mae}")

r2 = 0.5449381659234664
mae =  0.6208580000398982

In [19]:
model.coef_ # total bill 0.10696

array([0.10696371])

---