- house

- tips dataset

- take the numeric column only
- Linear regression on them
- target feature : tips

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_absolute_error

In [7]:
tips = sns.load_dataset('tips')
tips.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [ ]:
y_pred = model.predict(x_test)

r2 = r2.score(y_test,y_pred)
mae = mean_absolute_error(y_test, y_pred)

print(f"r2 - {r2} \ mae - {mae}")