Data
- Qualitative
    - thngs and their attributes
- Quantitative
    - size of quantities

- Tables , somethng like column
    - row - stores data in numbers

- two things :
    - Central tendency - we try to identify the middle/average/common value
    - spread - how much the data is spread around

In [23]:
#mean

class1_mean = (50 + 47 + 51 +49 +47) /5
print(class1_mean)

class4_mean = [20, 80, 130,50, 89, 74, 54, 5]
mean = sum(class4_mean)/len(class4_mean)
print(mean)

48.8
62.75

In [24]:
#median

#1. sort the number
class2_median = [20, 80, 130,50, 5]
class2_median.sort()

class2_median

#if the length is odd
median = class2_median[len(class2_median)//2]
print(median)

#if the length is even
median = class2_median[len(class2_median)//2] + class2_median[(len(class2_median)//2) -1]

50

In [25]:
class3_median = [20, 80, 130,50, 89, 74, 54, 5]
class3_median.sort()
print('Sort number : ',class3_median)
if len(class3_median)%2 ==0:
    median = (class3_median[len(class3_median)//2] + class2_median[(len(class3_median)//2) -1])/2
    print(median)
else:
    median = class3_median[len(class3_median)//2]
    print(median)

Sort number :  [5, 20, 50, 54, 74, 80, 89, 130]
77.0

In [9]:
#if the length is odd
median = class2_median[len(class2_median)//2]
print(median)

50

In [11]:
class2_median = [20, 80, 130,50, 5, 89]

#if the length is even
median = class2_median[len(class2_median)//2] + class2_median[(len(class2_median)//2) +1]
print(median)

55

In [26]:
import pandas as pd

In [28]:
iris=pd.read_csv('iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [29]:
#aggregate

df =iris[ ['sepal_length','sepal_width','petal_length','petal_width']]
df.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [ ]:

df =iris[ ['sepal_length','sepal_width','petal_length','petal_width']]
print('The mean is : ',df.mean())
print('The median is : ',df.median())
print('The mode is : ',df.mode())

The mean is :  sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64
The median is :  sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64
The mode is :     sepal_length  sepal_width  petal_length  petal_width
0           5.0          3.0           1.5          0.2

In [33]:
sl =iris['sepal_length']
sl.mode() # this is the most frequent value

0    5.0
Name: sepal_length, dtype: float64

In [34]:
x={
    'a' : [1,2,3,4,5,6,7],
    'b' : [3,3,4,5,5,5,6]
}

xdf =pd.DataFrame(x)
xdf.head()

   a  b
0  1  3
1  2  3
2  3  4
3  4  5
4  5  5

In [36]:
xdf['b'].mode()

0    5
Name: b, dtype: int64

- Spread of Data
- variance
- standard devition

In [41]:

xdf['b'].std()#variance
xdf['b'].var()
xdf['b'].count()
df.count()

sepal_length    150
sepal_width     150
petal_length    150
petal_width     150
dtype: int64

In [ ]:
#statistics related to dataframa
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [54]:
numbers = [5,20,50,80,130]
mean = sum(numbers)/len(numbers)
print(mean)

variance=(((5-mean)**2+(20-mean)**2+(50-mean)**2+(80-mean)**2+(100-mean)**2))/len(numbers)
print(variance)

57.0
1300.0

In [53]:
variance=(((5-mean)**2+(20-mean)**2+(50-mean)**2+(80-mean)**2+(130-mean)**2))/len(numbers)
print(variance)

2032.0

In [44]:
import numpy as np

In [ ]:
d = np.array([50,47,51,40,47])

In [62]:
class1 = np.array([50,47,51,49,47])
class2 = np.array([5,20,50,80,130])

mean_class1 = sum(class1)/len(class1)
print('The mean for class one : ',mean_class1)

sumofdiffc1=np.array([((class1-mean_class1)**2)])
variancec1 = (sumofdiffc1.sum())/len(class1)
print('The variance for class one : ',variancec1)

variancec1a = sum((class1 - mean)**2)/len(class1)
print('The variance for class one : ',variancec1a)

mean_class2 = sum(class2)/len(class2)
print('\nThe mean for class two : ',mean_class2)

sumofdiffc2=np.array([((class2-mean_class2)**2)])
variancec2 = (sumofdiffc2.sum())/len(class2)
print('The variance for class one : ',variancec2)

variancec2a = sum((class2 - mean)**2)/len(class2)
print('The variance for class two: ',variancec2a)

sumc2 = sum(class2)
print(sumc2)

The mean for class one :  48.8
The variance for class one :  2.5599999999999996
The variance for class one :  69.8

The mean for class two :  57.0
The variance for class one :  1996.0
The variance for class two:  1996.0
285

In [59]:
std1 = variancec1a**0.5
std2 = variancec2a**0.5

print(std1,std2)

10.714476188783099 44.67661580737735

Explore how to sort a list manually
Create program, that takes a list, and return a sorted list
 - only allowed to google, when you have struggle for atleast 1 hour
 - use google, create a different program, based on the same -understand what is happening
 - you are not allowed to use list methods or libraires
 - you can you numpy but not the menthods like numpy